<div id="<%= dom_id student %>">
  <p>
    <strong>Rut:</strong>
    <%= student.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Last name1:</strong>
    <%= student.last_name1 %>
  </p>

  <p>
    <strong>Last name2:</strong>
    <%= student.last_name2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= student.state_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course_id %>
  </p>

</div>
