<div id="<%= dom_id tutor %>">
  <p>
    <strong>Rut:</strong>
    <%= tutor.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tutor.name %>
  </p>

  <p>
    <strong>Lastname1:</strong>
    <%= tutor.lastname1 %>
  </p>

  <p>
    <strong>Lastname2:</strong>
    <%= tutor.lastname2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= tutor.address %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= tutor.position %>
  </p>

  <p>
    <strong>Salary hour:</strong>
    <%= tutor.salary_hour %>
  </p>

  <p>
    <strong>State:</strong>
    <%= tutor.state_id %>
  </p>

</div>
