<p style="color: green"><%= notice %></p>

<%= render @module_plan %>

<div>
  <%= link_to "Edit this module plan", edit_module_plan_path(@module_plan) %> |
  <%= link_to "Back to module plans", module_plans_path %>

  <%= button_to "Destroy this module plan", @module_plan, method: :delete %>
</div>
