<p style="color: green"><%= notice %></p>

<%= render @tutorial_module_course %>

<div>
  <%= link_to "Edit this tutorial module course", edit_tutorial_module_course_path(@tutorial_module_course) %> |
  <%= link_to "Back to tutorial module courses", tutorial_module_courses_path %>

  <%= button_to "Destroy this tutorial module course", @tutorial_module_course, method: :delete %>
</div>
