<div id="<%= dom_id course %>">
  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course.end_date %>
  </p>

  <p>
    <strong>Training plan:</strong>
    <%= course.training_plan_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= course.region_id %>
  </p>

</div>
